<p>are you sure</p>
<form action="http://localhost:8080/{{id}}/delete" method="POST">
  <button type="submit">yes</button>
  <button onclick="location.href='http://localhost:8080/'">no</button>
</form>
<button onclick="location.href='http://localhost:8080/'">home</button>