<table>
  <tr>
    <th>
      clubs
    </th>
    <th>
      options
    </th>
  </tr>
  <button onclick="location.href='http://localhost:8080/create'">create pokemon</button>
  {{#each data as |data|}}
    <tr>
      <th>
        {{data.name}}
      </th>
      <th>
        <a href="/{{data.id}}/look" class="look">look</a>
        <a href="/{{data.id}}/edit" class="edit">edit</a>
        <a href="/{{data.id}}/delete" class="delete">delete</a>
      </th>
    </tr>

  {{/each}}
</table>